@{
    ViewBag.Title = "New Notes";
}

<h2>New Notes</h2>

<div class="form-horizontal">
    <h4>Lecturer</h4>
    @using (Html.BeginForm("UploadNote", "Lecturer", FormMethod.Post, new
    { enctype = "multipart/form-data" }))
    {
        if (ViewData["FileType"] != null)
        {
            <p class="alert-danger">Invalid .@ViewData["FileType"] file type. Please upload file in pdf format.</p>
            ViewData["FileType"] = null;
        }
        if (ViewData["FileSize"] != null)
        {
            <p class="alert-danger">Invalid @ViewData["FileSize"]MB file size. Please upload file less than 6MB.</p>
            ViewData["FileSize"] = null;
        }
        <div class="form-group">
            <label class="control-label col-md-2">Notes file</label>
            <div class="col-md-10">
                <input type="hidden" accept="application/pdf" value="@ViewData["CourseId"].ToString()" name="CourseId" id="CourseId" />
                <input class="form-control" type="file" name="PdfLectureNote" id="PdfLectureNote" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

